* {
	border: 1px solid black;
	margin: 0;
	padding: 0;
	font-family: "PT Serif",Georgia,serif;
}

body {
	color: #4d4d4d;
}

a{
	text-decoration: none;
}

/*Header*/

.hdr-cont {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid black;
}

.hdr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-bottom: .7rem;
    margin-top: 1.5rem;
}

.hdr a {
	color: #999;
	font-size: 15px;
}

.hdr img {
    height: 100%;
    width: 100%;
}

.hdr .title {
    height: 51px;
    margin: 0 3.5rem 0 3.5rem;
    width: 40%;
}

.nl {
	width: 40%;
}

.nl h3 {

}

.nl h3 a{
	color: #00b3e5;
	font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
	font-size: 14px;
}

.hdr button {
    color: white;
    background-color: #00b3e5;
    width: 15rem;
    border-radius: .2rem;
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
    font-weight: 800;
    font-size: 16px;
    padding: 3px;
    line-height: 16px;
    border: 0;
    cursor: pointer;
}

/*Navbar*/

.hdr-cont .navbar {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    margin: 0 22rem 0 25rem;
}

.sticky {
	position: fixed;
	top: 0;
	background-color: white;
	width: 100%;
}


.navbar ul {
	display: flex;
    text-decoration: none;
    align-items: center;
    margin: 0 1rem 0 0;
}

.navbar ul a {
    color: #4d4d4d;
}

.navbar ul a:hover {
	color: #00b3e5;
	border-bottom: 5px solid black;
	transition-delay: .4s;
}

.navbar li {
    list-style: none;
    margin: 0 1rem 0 0;
}

.sign-search {
    display: flex;
    margin-right: 2rem;
}

.sign-search img {
    height: 20px;
    width: 20px;
    padding: 4px;
    margin-left: 10px;
}

.sign-search a {
	color: #4d4d4d;
	align-self: center;
}

.navbar .special a{
	color: #00b3e5;
}

/*Content1*/

.content1 {
	display: grid;
	grid-template-columns: 423px 1fr 1fr;
}

.cont1 {
	grid-column: 2/2;
}

.cont1 h1 {
	font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 3rem;
    grid-row: 1 / 2;
}

.cont1 img{
    height: 5%;
    width: 5%;
    grid-row: 2 / 3;
}

/*Side bar*/

.sidebar {
    top: 3.313rem;
    width: 18.75rem;
}

.sdbr {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;

}

.sd-btns {
	background-color: #f5f5f5;
    display: flex;
    overflow: hidden;
}

.sdbr button {
	border: none;
	border-right: 3px solid #fff;
	cursor: pointer;
	font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
	outline: none;
}

/*Content2*/

.content2 {

}

.cont2 {
	display: flex;
}

.cont2 .c2-social {
	display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 17rem;
    margin: 23px 0rem 0 19rem;
    height: fit-content;
}

.c2-social img {
    height: 26px;
    width: 28px;
}

.c2-mag {
    display: flex;
    align-items: center;
    height: fit-content;
}

.c2-mns {
	display: grid;
}

/*Footer*/

.ftr-cont {
	margin: 0;
    max-width: 70.62495rem;
    padding: 0 .93747rem;
}

.ftr-cont img {
	height: 100px;
	width: 100px;
}
