* {
	/*border: 1px solid black;*/
	margin: 0;
	padding: 0;
	font-family: "PT Serif",Georgia,serif;
}

body {
	color: #4d4d4d;
}

a{
	text-decoration: none;
}

figcaption {
	margin-bottom: 36px;
}

/*Header*/

.hdr-cont {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid black;
}

.hdr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-bottom: .7rem;
    margin-top: 1.5rem;
    margin-left: 26rem;
}

.hdr a {
	color: #999;
	font-size: 15px;
}

.hdr img {
    height: 100%;
    width: 100%;
}

.hdr .title {
    height: 51px;
    margin: 0 3.5rem 0 3.5rem;
    width: 40%;
}

.nl {
	width: 40%;
}

.nl h3 {

}

.nl h3 a{
	color: #00b3e5;
	font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
	font-size: 14px;
}

.hdr button {
    color: white;
    background-color: #00b3e5;
    width: 15rem;
    border-radius: .2rem;
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
    font-weight: 800;
    font-size: 16px;
    padding: 3px;
    line-height: 16px;
    border: 0;
    cursor: pointer;
}

/*Navbar*/

.hdr-cont .navbar {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    margin: 0 22rem 0 20rem;
}

.sticky {
	position: fixed;
	top: 0;
	background-color: white;
	width: 100%;
}


.navbar ul {
	display: flex;
    text-decoration: none;
    align-items: center;
    margin: 0 1rem 0 0;
}

.navbar ul a {
    color: #4d4d4d;
}

.navbar ul a:hover {
	color: #00b3e5;
	border-bottom: 5px solid black;
	transition-delay: .4s;
}

.navbar li {
    list-style: none;
    margin: 0 1rem 0 0;
}

.sign-search {
    display: flex;
    margin-right: 2rem;
}

.sign-search img {
    height: 20px;
    width: 20px;
    padding: 4px;
    margin-left: 10px;
}

.sign-search a {
	color: #4d4d4d;
	align-self: center;
}

.navbar .special a{
	color: #00b3e5;
}

/*Content1*/

.content1 {
	display: grid;
	grid-template-columns: 423px 1fr 1fr;
}

.cont1 {
	grid-column: 2/2;
}

.cont1 h1 {
	font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 3rem;
    grid-row: 1 / 2;
}

.c1-social img{
    height: 5%;
    width: 5%;
    grid-row: 2 / 3;
}

.cont1 figcaption p {
	font-size: 12px;
}

.cont1 img {
	margin-top: 10px;
}

.cont1 p {
	font-size: 1rem;
	line-height: 1.5rem;
}

.cont1 .tip {
    background-color: #f5f5f5;
    margin: 27px 0 31px 0;
    padding: 13px 0 11px 13px;
}

.cont1 a{
	color: #00b3e5;
	text-decoration: none;
}

.cont1 .img-cap {
	font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
	font-size: .75rem;
	line-height: 1rem;
	font-weight: 700;
}

.c1-social {
	margin: 0 0 15px 0;
	cursor: pointer;
}

.cont1 .ref {
	font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif!important;
	margin: 10px 0 10px 0;
	font-size: .9rem;
	font-weight: 700;
	line-height: 1.2rem;
}

.ref i {
	font-family: "PT Serif",Georgia,serif!important;
	font-weight: 400;
	line-height: 1.2rem;
}

.more {
	margin: 20px 0 20px 0;
	display: flex;
}

.more .tsbtn {
	margin-left: 14px;
	border: none;
	background-color: #005587;
	color: white;
	font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
	font-size: 1rem;
	font-weight: 700;
	line-height: 2rem;
	cursor: pointer;
	border-radius: .2rem;
	padding: revert;
}

/*Side bar*/

.sidebar {
    top: 3.313rem;
    width: 18.75rem;
}

.sdbr {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	margin-left: 1rem;
}

.sd-btn {
	width: max-content;
	margin-bottom: 2px;
}

.sdbr button {
	border: none;
	border-right: 3px solid #fff;
	cursor: pointer;
	font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
	font-size: .9rem;
	font-weight: 700;
	padding: .5rem;
}


.cards li {
	background-color: #f5f5f5;
	border-top: 3px solid #fff;
	display: flex;
	font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 1.5rem;
	padding: .6rem;
}

.cards a {
	text-decoration: none;
	color: black;
	margin-right: 1.4rem;
}

.cards p {
	color: #00b3e5;
	font-size: 40px;
	margin-top: 18px;
	font-family: "PT Serif",Georgia,serif;
}

/*Content2*/

.content2 {

}

.cont2 {
	display: flex;
	justify-content: space-between;
}

.cont2 .c2-social {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 17rem;
    margin: 23px 0rem 0 25rem;
    height: fit-content;
}

.c2-social img {
    height: 26px;
    width: 28px;
    cursor: pointer;
}

.c2-mag {
    display: flex;
    align-items: center;
    height: fit-content;
    margin-right: 50rem;
}

.mag-btn {
	display: flex;
	flex-direction: column;
}

.c2-mns {
	display: grid;
}

.c2-mns img {
	height: 100px;
	width: 100px;
}

/*Footer*/

.ftr-cont {
	margin: 0;
    max-width: 70.62495rem;
    padding: 0 .93747rem;
}

.ftr-cont img {
	height: 100px;
	width: 100px;
}
